torch 
torchvision 
torchaudio
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
async-timeout
attrs
click
cloudpickle
colorama
compressed-tensors
datasets
dill
diskcache
distro
docker-pycreds
einops
exceptiongroup
fastapi
frozenlist
fsspec
fuzzywuzzy
gguf
gitdb
gitpython
h11
httpcore
httptools
httpx
huggingface-hub
importlib-metadata
interegular
jiter
jsonschema
jsonschema-specifications
lark
llvmlite
lm-format-enforcer
mistral-common
msgpack
msgspec
multidict
multiprocess
nest-asyncio
numba
numpy
openai
opencv-python-headless
outlines
packaging
pandas
partial-json-parser
platformdirs
prometheus-client
prometheus-fastapi-instrumentator
propcache
protobuf
psutil
py-cpuinfo
pyairports
pyarrow
pycountry
pydantic
pydantic-core
pyparsing
python-dateutil
python-dotenv
pytz
pyzmq
ray
referencing
regex
rpds-py
safetensors
sentencepiece
sentry-sdk
setproctitle
matplotlib
six
smmap
sniffio
starlette
sympy
tiktoken
tokenizers
tqdm
transformers
tzdata
ipykernel
uvicorn
uvloop
vllm
wandb
watchfiles
websockets
xxhash
yarl
zipp